{{ define "main" }}

<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="banner_content">
            <h3 class="text-uppercase">Hello</h3>
            <h1 class="text-uppercase">I am {{ .Site.Params.Author }}</h1>
            <h5 class="text-uppercase">{{ .Site.Data.index.banner.tagline }}</h5>
            <div class="d-flex align-items-center">
              {{ if .Site.Data.index.mainbutton.download }}
              <a class="primary_btn tr-bg" href="{{ .Site.Data.index.mainbutton.doc }}"
                download><span>{{ .Site.Data.index.mainbutton.doctext }}</span></a>
              {{ else }}
              <a class="primary_btn tr-bg"
                href="{{ .Site.Data.index.mainbutton.link }}"><span>{{ .Site.Data.index.mainbutton.linktext }}</span></a>
              {{ end }}
              {{ if .Site.Data.index.calendlypopuptext }}
              <a href="" onclick="Calendly.initPopupWidget({
                url: 'https://calendly.com/piyush-bhutoria98/30min?hide_landing_page_details=1&hide_gdpr_banner=1',
                color: '#4458dc',
                textColor: '#ffffff',
                });return false;">Schedule a meet</a>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="home_right_img">
            <img class="" src="img/banner/home-right.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="img/about-us.png" alt="" />
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>
            lets <br />
            Introduce <br />
            myself
          </h2>
          {{ range .Site.Data.index.intro }}
          <p>{{ .line }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End About Us Area =================-->

{{ if .Site.Data.index.experience.enable }}
<!--================ Start Academics Area =================-->
<section class="academics_area section_gap whole-wrap">
  <div class="container">
    <div class="main_title">
      <h2>Experience</h2>
      <div class="progress-table-wrap">
        <div class="progress-table">
          <div class="table-head">
            <div class="col-lg-4 font-weight-bold">Company</div>
            <div class="col-lg-4 font-weight-bold">Position</div>
            <div class="col-lg-4 font-weight-bold">Period</div>
          </div>
          {{ range .Site.Data.index.experience.items }}
          <div class="table-row">
            <div class="col-lg-4">{{ .company }}</div>
            <div class="col-lg-4">{{ .position }}</div>
            <div class="col-lg-4">{{ .start }} - {{ .end }}</div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Academics Area =================-->
{{ end }}

<!--================ Start Tehcnical Area =================-->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>Tehcnical Skills</h2>
          <p>{{ .Site.Data.index.technical.quote }}</p>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="img/services/s3.png" alt="" />
          <h4>Programming Languages</h4>
          <p>{{ .Site.Data.index.technical.programming }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="img/services/s2.png" alt="" />
          <h4>Design</h4>
          <p>{{ .Site.Data.index.technical.design }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="img/services/s1.png" alt="" />
          <h4>Tools & Technologies</h4>
          <p>{{ .Site.Data.index.technical.tools }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="img/services/s4.png" alt="" />
          <h4>Databases</h4>
          <p>{{ .Site.Data.index.technical.databases }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Tehcnical Area =================-->

{{ if .Site.Data.index.certifications.enable }}
<!--================ Start Certifications Area =================-->
<section class="academics_area section_gap whole-wrap">
  <div class="container">
    <div class="main_title">
      <h2>Certifications</h2>
      <p>{{ .Site.Data.index.certifications.quote }}</p>
      <div class="progress-table-wrap">
        <div class="progress-table">
          {{ range .Site.Data.index.certifications.items }}
          <div class="table-row">
            <div class="col-lg-6">{{ .name }}</div>
            <div class="col-lg-6">{{ .from }}</div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Certifications Area =================-->
{{ end }}

{{ if .Site.Data.index.academics.enable }}
<!--================ Start Academics Area =================-->
<section class="academics_area section_gap whole-wrap">
  <div class="container">
    <div class="main_title">
      <h2>Academics</h2>
      <div class="progress-table-wrap">
        <div class="progress-table">
          <div class="table-head">
            <div class="col-lg-2 font-weight-bold">Year</div>
            <div class="col-lg-4 font-weight-bold">Board/ Institution</div>
            <div class="col-lg-4 font-weight-bold">Degree/ Certificate</div>
            <div class="col-lg-2 font-weight-bold">Aggregate</div>
          </div>
          {{ range .Site.Data.index.academics.items }}
          <div class="table-row">
            <div class="col-lg-2">{{ .year }}</div>
            <div class="col-lg-4">{{ .board }}</div>
            <div class="col-lg-4">{{ .degree }}</div>
            <div class="col-lg-2">{{ .aggregate }}</div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Academics Area =================-->
{{ end }}

{{ if .Site.Data.index.extracurricular.enable }}
<!--================ Start Extra-Curricular Area =================-->
<section class="academics_area section_gap whole-wrap">
  <div class="container">
    <div class="main_title">
      <h2>Extra-Curricular</h2>
      <p>{{ .Site.Data.index.extracurricular.quote }}</p>
      <div class="progress-table-wrap">
        <div class="progress-table">
          {{ range .Site.Data.index.extracurricular.items }}
          <div class="table-row">
            <div class="col-lg-6">{{ .name }}</div>
            <div class="col-lg-4">{{ .position }}</div>
            <div class="col-lg-2">{{ .period }}</div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Extra-Curricular Area =================-->
{{ end }}

{{ if .Site.Data.index.achievements.enable }}
<!--================ Start Achievements Area =================-->
<section class="academics_area section_gap whole-wrap">
  <div class="container">
    <div class="main_title">
      <h2>Achievements</h2>
      <p>{{ .Site.Data.index.achievements.quote }}</p>
      <div class="progress-table-wrap">
        <div class="progress-table">
          {{ range .Site.Data.index.achievements.items }}
          <div class="table-row">
            <div class="col-lg-6">{{ .name }}</div>
            <div class="col-lg-4">{{ .position }}</div>
            <div class="col-lg-2">{{ .year }}</div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Achievements Area =================-->
{{ end }}

{{ end }}
